:root {
  --acent-color: #2196f3;
  --background-color: #ffffff;
}

/* ГЛАВНАЯ */
body {
  font-family: Roboto, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1;
  height: 1;
  margin: -1px;
}

/* *Хедер  */

.line {
  border-bottom: 1px solid #ececec;
}

.container.header {
  display: flex;
  justify-content: space-between;
}

.page-navi {
  display: flex;
  align-items: center;

  background-color: var(--background-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu {
  display: flex;
}

.menu .item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  margin-right: 93px;

  font-family: Raleway;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-start {
  color: var(--acent-color);
}

.page-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  color: #212121;
}

.page-nav-link.current {
  color: var(--acent-color);
}

.contact {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact .item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: #757575;
  text-decoration: none;
}

.page-nav-link:hover,
.page-nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--acent-color);
}

/* *Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--background-color);
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.footer-address a {
  display: block;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* *Герой */
.hero {
  padding-bottom: 200px;
  padding-top: 200px;

  background-color: #c4c4c4;
  text-align: center;
}

.hero .title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  color: var(--background-color);
  text-transform: uppercase;
}

.hero-btn {
  border: 0;
  border-radius: 4px;

  background: var(--acent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero-btn > .text {
  display: block;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 10px;
  margin-bottom: 10px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color);
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
}

/* *Особливості */
.special {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--background-color);
}

.list-special {
  display: flex;
}

.list-special .item:not(:last-child) {
  margin-right: 30px;
}

.special-title {
  padding-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
}

.special-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.list-special .item::before {
  display: block;
  content: '';
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: #f5f4fa;
  /* outline: 1px solid red; */

  background-repeat: no-repeat;
  background-position: center;
}

.icon-antena::before {
  background-image: url(../images/antenna1.svg);
}

.icon-clock::before {
  background-image: url(../images/clock1.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram1.svg);
}

.icon-astro::before {
  background-image: url(../images/astronaut1.svg);
}

/* *Чим займаємось */

.doings {
  padding-bottom: 94px;
}

.doing-list {
  display: flex;
}

.doing-list .item:not(:last-child) {
  margin-right: 30px;
}

.doings-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* *Наша команда */
.team {
  padding-bottom: 94px;
  padding-top: 94px;

  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.item .item-title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.item .item-text {
  padding-bottom: 30px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

/* *Постійні клієнти */

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-list {
  display: flex;
}
.customers-title {
  margin-bottom: 50px;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.customers-list .item:not(:last-child) {
  margin-right: 30px;
}

.customers-list .item {
  display: block;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  background-repeat: no-repeat;
  background-position: center;
}

.customers-list .item:nth-child(1) {
  background-image: url(../images/logo1.svg);
}

.customers-list .item:nth-child(2) {
  background-image: url(../images/logo2.svg);
}

.customers-list .item:nth-child(3) {
  background-image: url(../images/logo3.svg);
}

.customers-list .item:nth-child(4) {
  border: 1px solid #2196f3;
  background-image: url(../images/logo4.svg);
}

.customers-list .item:nth-child(5) {
  background-image: url(../images/logo5.svg);
}

.customers-list .item:nth-child(6) {
  background-image: url(../images/logo6.svg);
}

/* ПОРТФОЛИО */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* *фільтр */
.filter-list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.filter-list .filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  border: 0;
  border-radius: 4px;

  cursor: pointer;

  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
}

.btn-text {
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 22px;
  margin-right: 22px;
}

.filter-item > .btn-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--acent-color);
  color: var(--background-color);
}

/* *приклади робіт */

.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.examples-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
.carts {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 20px;

  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

.examples-link {
  text-decoration: none;
}

.examples-item .link-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.examples-item .link-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
